<mat-card style="margin: 30px">
  <form [formGroup]="myForm" (ngSubmit)="saveLog()" *ngIf="active">
      <mat-form-field>
        <input matInput [matDatepicker]="myDate" type="text" formControlName="date" placeholder="Date">
        <mat-datepicker-toggle matSuffix [for]="myDate"></mat-datepicker-toggle>
        <mat-datepicker #myDate></mat-datepicker>
      </mat-form-field><br>

      <mat-form-field>
        <input matInput type="text" formControlName="category" placeholder="Catégorie"><br>
      </mat-form-field><br>

      <mat-form-field>
        <textarea matInput formControlName="log" cols="30" rows="1" placeholder="Évènement"></textarea><br>
      </mat-form-field><br>
    
    <button mat-raised-button color="primary">{{verb}}</button>
    <button mat-raised-button color="primary" *ngIf = "isInEditMode" (click) = "cancelEdit()">Annuler</button>
  </form>
</mat-card>
{{ myForm.value | json}}


