  <ul>
    <!-- <li *ngFor="let log of logs$ | async" 
        [class.selected]="log.key === selectedKey"> 

      <a [routerLink]="['/log', log.key]">
        <span>{{ log.key }}</span>{{ log.title }}
      </a>
    </li>  -->
    <li *ngFor="let log of logs$ | async" 
        [class.selected]="log.key === selectedKey"> 

      <a [routerLink]="['/log', log.key]">
        <span>{{ log.key }}</span>{{ log.title }}
      </a>
    </li> 
    
    
    <!-- async permet de s'abonner à un observable et de se desabonner automatiquement-->
  </ul>

  