<mat-toolbar color ="primary">
    <span>Ajouter/Modifier</span>
</mat-toolbar>

<a mat-raised-button color="accent" routerLink = "/">Overview</a>


<mat-tab-group>
    <mat-tab label = "Ajouter">
        <app-create-log (create) = "onLogCreated($event)" (update) = "onLogUpdated($event)"></app-create-log> <!--(create) est un nouvel eventEmitter et "onLogCreated" est un eventHandler -->
    </mat-tab>
    <mat-tab label = "Modifier">
        <app-backend-logs></app-backend-logs>
    </mat-tab>
</mat-tab-group>
