
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Filtrer
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput placeholder="categorie">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="année">
    </mat-form-field>
  </mat-expansion-panel>

  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Rechercher
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <mat-form-field>
        <input matInput placeholder="mot-clé">
      </mat-form-field>
    </mat-expansion-panel>
</mat-accordion>
  

  <ul>
    <li *ngFor="let log of logs$ | async" (click)="showLogDetails(log)">
        <mat-card style="margin: 30px" >
          {{ log.title }}<br>
          {{ log.date | date }}
        </mat-card>
    </li> <!-- async permet de s'abonner à un observable et de se desabonner automatiquement-->
  </ul>