
<mat-toolbar  color="primary"  class="fixed-header">
    <mat-toolbar-row style="border: 2px solid white; justify-content: center">
        <h5>MOMENTO</h5>
    </mat-toolbar-row>
    <mat-toolbar-row style="border: 2px solid white; justify-content: center">
        <a  mat-button  routerLink="/"  routerLinkActive="active">Overview</a>
        <a  mat-button  routerLink="/admin">Ajouter/modifier</a>
    </mat-toolbar-row>
</mat-toolbar>
   
<main>
    <router-outlet  style="margin-top: 80px;"></router-outlet>
</main>
    